<button class="btn" (click)="logout()">Logout</button>
<div class="page">
  <div class="header">
    <p class="name">
      Roman Skripka<br /><span class="title">Frontend developer</span>
    </p>
    <p class="contacts">
      <span class="contacts__item contacts__item--phone">
        +380 97 952 85 04</span
      >
      <span class="contacts__item contacts__item--mail">
        romanskripka80@gmail.com</span
      >
      <span class="contacts__item contacts__item--linkedin">
        www.linkedin.com/in/roman-skripka</span
      >
      <span class="contacts__item contacts__item--city"> Kyiv</span>
    </p>
  </div>
  <div class="body">
    <div class="block" style="margin-bottom: 15px">
      <p class="block-header">Skills</p>
      <div class="block-body">
        <span class="skill">HTML</span>
        <span class="skill">CSS/SCSS</span>
        <span class="skill">JavaScript (ES 6+)</span>
        <span class="skill">TypeScript</span>
        <span class="skill">Angular</span>
        <span class="skill">RxJs</span>
        <span class="skill">Bootstrap</span>
        <span class="skill">Angular Material</span>
        <span class="skill">GIT</span>
      </div>
    </div>

    <div class="block">
      <p class="block-header">Experience</p>
      <div class="block-body">
        <div class="exp-item">
          <p class="exp-dates">SEP 2020 &ndash; PRESENT</p>
          <p class="exp-company">Tekrum</p>
          <p class="exp-title">Junior Frontend developer</p>
          <p class="exp-description">
            Development of mobile-first adaptive landing pages mainly using Boostrap.
            Creation of simple animations on these pages provided by design team. Adaption of HTML markup according to
            required frontend features and web-standards best practices. Integration with simple REST API: forms submission, fetching
            listed data.
          </p>
        </div>
      </div>
      <div class="block-body">
        <div class="exp-item">
          <p class="exp-dates">OCT 2020 &ndash; PRESENT</p>
          <p class="exp-company">Pet project</p>
          <p class="exp-title">Frontend developer</p>
          <p class="exp-description">
            Created pet project with Angular to explore the framework and build-up my professional skills.
            Development of Single Page Application for local football league with Angular 2+. Building of components services
            and interfaces according to Angular style guides: modules lazy-loading, routing guards, directives, pipes, HTTP interceptors,
            cross-component communication, RxJS features and forms validation.
            Consumption of Angular Material library components.
            Integration with firebase firestore as a backend layer of application.
          </p>
        </div>
      </div>
      </div>
    </div>

    <div class="block">
      <p class="block-header">Education</p>
      <div
        class="block-body"
        style="display: flex; justify-content: space-between"
      >
        <div class="eduction-item">
          <p class="education-venue">National Aviation University</p>
          <p class="education-dates">2006 &ndash; 2012</p>
          <p class="education-prof">
            Master degree in Systems of Air Navigation Services
          </p>
        </div>
        <div class="eduction-item">
          <p class="education-venue">National Aviation University</p>
          <p class="education-dates">2009 &ndash; 2011</p>
          <p class="education-prof">Accounting</p>
        </div>
      </div>
    </div>
    <div class="block">
      <p class="block-header">Languages</p>
      <div
        class="block-body"
        style="display: flex; justify-content: space-between"
      >
        <p class="language-item">Ukrainian &ndash; native</p>
        <p class="language-item">English &ndash; pre-intermediate</p>
        <p class="language-item">Russian &ndash; fluent</p>
      </div>
    </div>
  </div>
